{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body data-spy="scroll" data-target="#navbar">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
        <a href="#" class="navbar-brand"><img src="{% static 'images/logo.png' %}" alt="" id=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'homepage:index' %}"class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'homepage:experience' %}" class="nav-link">Experience</a>
                </li>   
                <li class="nav-item">
                    <a href="{% url 'homepage:projects' %}"class="nav-link">Projects</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'homepage:skills' %}" class="nav-link">Skills</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </nav>
    
    {% block content %}
    
    {% endblock content %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>