{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Create TodoList
{% endblock title %}

{% block content %}
<h1>Lorem ipsum dolor sit, amet </h1>


<body>
    <form method='POST'>
        {% csrf_token %}
        <!-- <table>
            {{todo_form.as_table}}
        </table> -->
        {% for form in todo_form %}
			<div class="form-group col-md-6">
				{{form.label}}
				{{form}}
			</div>
		{% endfor %}
        <button type = "Submit" class="btn btn-secondary">Submit</button>
        <!-- <a href="{% url 'create' %}" class="btn btn-secondary">Tambah</a> -->
    </form>
</body>
{% endblock content %}