{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    TodoList
{% endblock title %}

{% block content %}
<h1>Lorem ipsum dolor sit, amet </h1>
<body>
    <!-- {% for post in posts %}
		<h4>{{post.nama}}</h4>
		<h4>{{post.hari}}</h4>
		<h4>{{post.tempat}}</h4>
		<h4>{{post.kategori}}</h4>
		<h4>{{post.tanggal}}</h4>
		<h4>{{post.jam}}</h4>
	{% endfor %} -->
	<table class="table table-dark">
		<thead>
		  	<tr>
				<th scope="col">#</th>
				<th scope="col">Kegiatan</th>
				<th scope="col">Hari</th>
				<th scope="col">Tempat</th>
				<th scope="col">Kategori</th>
				<th scope="col">Tanggal</th>
				<th scope="col">Jam</th>
				<!-- <th scope="col">Done</th> -->
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<th scope="row">{{forloop.counter}}</th>
					<td>{{post.nama}}</td>
					<td>{{post.hari}}</td>
					<td>{{post.tempat}}</td>
					<td>{{post.kategori}}</td>
					<td>{{post.tanggal}}</td>			<td>{{post.jam}}</td>
					<td>
						<a href="{% url 'delete' post.id %}" class="btn btn-light">Done</a>			
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{% url 'create' %}" class="btn btn-secondary">Tambah</a>
</body>
{% endblock content %}