@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Mono', monospace;
    background-color: #4C4C4C;
}
.background{
    background-image: url('/static/images/mountain.jpg');
    background-size: 110vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;

    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar{
    text-transform: uppercase;
    letter-spacing: .4rem;
}

.navbar-brand img{
    height: 4vh;
}
.caption{
    /* position: absolute; */
    /* font-size: 40em; */
    padding-top: 150px;
    left: 33vw;
    color: #E5E5E5;
    max-width: 80%;
    margin: auto;
}
.caption h3{
    font-size: 1.2em;
    letter-spacing: .3rem;
    padding-bottom: 15px;
}
.caption h1{
    font-size: 2.5em;
    letter-spacing: .3rem;
    padding-bottom: 15px;
}
.caption h4{
    font-size: 1em;
}

/* experience page */

#experience{
    background: #4C4C4C;
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    padding-top: 100px;
}

.head-page{
    /* overflow: hidden; */
    margin: 0px auto;
    /* margin-top: 50px; */
    /* margin-left: 650px */
    margin-bottom: 0;
    
    letter-spacing: .4rem;
    border-bottom: 6px solid #B33939;
}

.content{
    margin-left: 200px;
}

.albayan, .ui, .compfest{
    display: flex;
    justify-content: left;
    align-items: center; 
    margin-top: 70px;
}

.logo{
    width: 120px;
    margin-right: 120px;
}
#albayan-logo, #ui-logo{
    width: 100%;
    height: auto;
}

#compfest-logo{
    /* width: 140%; */
    object-fit: cover;
    width: 100px;
    
}
.content h4{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 0px;
}
.content p{
    margin-bottom: 0px;
}
#albayan-text{
    color: #0391DA;
}
#ui-text{
    color: #F7D316;
}
#compfest-text{
    color: #B33939;
}

/* project page */

#projects{
    background-color: #4C4C4C;
    padding-top: 100px;
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}

.trangkot, .twist2048{
    display: flex;
    justify-content: left;
    align-items: center; 
    margin-top: 120px;
}

 .trangkot .text{
    padding-right: 100px ;
}
.twist2048 .text{
    width: 900px;
    margin-right: 120px;
}

/* skill page */

#skills{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: #4C4C4C;
    color: #E5E5E5;
}
.toprow{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botrow{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px
}
.skill-logo{
    width: 150px;
    margin: 50px 80px;
}
#java-logo ,#html-logo, #css-logo, #python-logo, #pascal-logo{
    width: 100%;
    height: auto;
}

/* about page */
#about{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    background-color: #4C4C4C;
    color: #E5E5E5
}
#about .content{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.biopicbox{
    width: 200px;
}
.bio-text{
    width: 500px;
    margin: 100px;
}
.bio-text p{
    margin: 20px 0;
}
#biopic{
    width: 100%;
    height: auto;
}

.sosmed{
    display: flex;
}

.sosmedbox{
    width: 50px;
    margin: 0 20px;
    margin-top: 70px;
    margin-bottom: 27px;
    padding-bottom: 100px;
}
#twitter ,#ig, #linked, #git{
    width: 100%;
    height: auto;
    /* margin-left: 50px; */
}
.feedback{
    padding-bottom: 100px;
}


#todo_form{
    background-color: #4C4C4C;
}