{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Experience
{% endblock title %}

{% block content %}
<div id="experience">
    <div class="head-page">
        <h1>EXPERIENCE</h1>
    </div>
    <div class="content">
        <div class="albayan">
            <div class="logo">
                <img src="{% static 'images/albayan.png' %}" alt="" id="albayan-logo">
            </div>
            <div class="text">
                <h4 id="albayan-text">Al Bayan Senior Highschool</h4>
                <p>Highschool Graduate</p>
                <p>2015 - 2018</p>    
            </div>
        </div>
        <div class="ui">
            <div class="logo">
                <img src="{% static 'images/ui.png' %}" alt="" id="ui-logo">
            </div>
            <div class="text">
                <h4 id="ui-text">Universitas Indonesia</h4>
                <p>Computer Science Undergraduate</p>
                <p>July 2018 - Now</p>
            </div>
        </div>
        <div class="compfest">
            <div class="logo">
                <img src="{% static 'images/compfest.png' %}" alt="" id="compfest-logo">
            </div>
            <div class="text">
                <h4 id="compfest-text">Compfest11</h4>
                <p>Staf of Software Engginering</p>
                <p>March 2019 - Now</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}