{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    HomePage
{% endblock title %}

{% block content %}
<div id="home">
    <div class="background">
        <div class="caption text-center">
            <h3>Hello, i am</h3>                  <h1>Muhammad Ilham Alghifari</h1>
            <h4>Extraordinary person with high interest in changing the world to a better place</h4>
        </div>
    </div>
</div>
<div id="about">
    <div class="head-page">
        <h1>ABOUT</h1>
    </div> 
    <div class="content">
        <div class="biopicbox">
            <img src="{% static 'images/biopic.jpg' %}" alt="" id="biopic">
        </div>
        <div class="bio-text">
            <p>About Ilham,</p>
            <p>I am a UI Computer Science student that live in incredible place called Kutek.</p>
            <p>At the moment, i am currently interested in software engineering stuff, so right now im studying fullstack engginer.</p>
        </div>
    </div>
    <div class="sosmed">
        <div class="sosmedbox">
            <a href="#">
                <img src="{% static 'images/twitter.png' %}" alt="" id="twitter">
            </a>
        </div>
            <div class="sosmedbox">
            <a href="#">
                <img src="{% static 'images/linked.png' %}" alt="" id="linked">
            </a>
        </div>
        <div class="sosmedbox">
            <a href="#">
                <img src="{% static 'images/ig.jpg' %}" alt="" id="ig">
            </a>
        </div>
        <div class="sosmedbox">
            <a href="#">
                <img src="{% static 'images/git.png' %}" alt="" id="git">
            </a>
        </div>
    </div>
    <div class="feedback">
        <div class="head-page">
            <h1>Feedback</h1>
        </div> 
        <div class="namaslot">
            Name:<br><input type="text" name="realname"></br>
        </div>
        <div class="emailslot">
            Email:<br><input type="text" name="email"></br>
        </div>
        <div class="comment">
            Comment:<br><textarea name="textarea" rows="15" cols="50"></textarea>
        </div>
    </div>
</div>
{% endblock content %}