{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Projects
{% endblock title %}

{% block content %}
<div id="projects">
    <div class="head-page">
        <h1>PROJECT</h1>
    </div>
    <div class="content">
        <div class="trangkot">
            <div class="text">
                <h4 id="albayan-text">Trangkot</h4>
                <p>A mobile application that help people to find or rent a public transportion like angkot or bus.
                </p>

                <p>This project purpose is to compete at FMIPA Business Plan Competition.</p>
            </div>
            <div class="logo">
                <img src="{% static 'images/trangkot.png' %}" alt="" id="albayan-logo">
            </div>
        </div>
        <div class="twist2048">
            <div class="text">
                <h4 id="ui-text">2048 with a twist</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus recusandae ipsa consequuntur ratione ipsum ea impedit obcaecati </p>
            </div>
            <div class="logo">
                <img src="{% static 'images/2048.png' %}" alt="" id="ui-logo">
            </div>
        </div>
    </div>
</div>
{% endblock content %}