{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Skills
{% endblock title %}

{% block content %}
<div id="skills">
    <div class="head-page">
        <h1>SKILLS</h1>
    </div>
    <div class="toprow">
        <div class="skill-logo">
            <img src="{% static 'images/java.png' %}" alt="" id="java-logo">
        </div>
        <div class="skill-logo">
            <img src="{% static 'images/html.png' %}" alt="" id="html-logo">
        </div>
        <div class="skill-logo">
            <img src="{% static 'images/css.png' %}" alt="" id="css-logo">
        </div>
    </div>
    <div class="botrow">
        <div class="skill-logo">
            <img src="{% static 'images/python.png' %}" alt="" id="python-logo">
        </div>  
        <div class="skill-logo">
            <img src="{% static 'images/pascal.jpg' %}" alt="" id="pascal-logo">
        </div>  
    </div>
</div>
{% endblock content %}